In [1]:
S="Python"

In [2]:
len(S)

6

In [3]:
S[0]

'P'

In [4]:
S[-1]

'n'

In [5]:
S[0:3]

'Pyt'

In [7]:
S[-3:]

'hon'

In [8]:
"y" in S

True

In [9]:
"Y" in S

False

In [10]:
12+12

24

In [11]:
"hello" +"world"

'helloworld'

In [12]:
S="Python"

In [13]:
3*S

'PythonPythonPython'

In [14]:
"eight equals "+ 8

TypeError: can only concatenate str (not "int") to str

In [15]:
"eight equals "+ str(8)

'eight equals 8'

In [16]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
str.replace?

In [18]:
name="Tina Fey"

In [19]:
name.replace("T", "t")

'tina Fey'

In [20]:
new_name= name.replace("T", "t")

In [21]:
new_name

'tina Fey'

In [22]:
name

'Tina Fey'

In [24]:
names = name.split(" ")

In [26]:
type(names)

list

In [27]:
len(names)

2

In [28]:
names[0]

'Tina'

In [29]:
names[1]

'Fey'

In [30]:
type(names[0])

str

In [31]:
names[0].upper()

'TINA'

In [32]:
names[1].lower()

'fey'

In [33]:
# Which of the following expressions are valid?
# 2 + 2
# "2" + "2"
# 2 * 2
# 2 * "2"

In [34]:
# Which of the following lines of code will fail to return the integers 0 through 9 in a single string?
# str(range(10))

In [35]:
# Assume you have assigned x the string value of "125,000" (i.e., x = "125,000"). Can you find a string method that tests if x only contains digits?
# x.isdigit()