In [1]:
T=(1,3,5,7)

In [2]:
len(T)

4

In [3]:
T+(9,11)

(1, 3, 5, 7, 9, 11)

In [4]:
T[1]

3

In [5]:
x=12.23

In [6]:
y=23.34

In [7]:
coordinate = (x,y)

In [8]:
type(coordinate)

tuple

In [9]:
coordinate

(12.23, 23.34)

In [10]:
(c1, c2) = coordinate

In [11]:
c1

12.23

In [12]:
c2

23.34

In [13]:
coordinates = [(0,0), (1,1), (2,4), (3,9), (4,16), (5,25), (6,36), (7,49), (8,64), (9,81)]

In [14]:
coordinates

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [15]:
for (x,y) in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [16]:
for x, y in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [17]:
c=(2,3)

In [18]:
type(c)

tuple

In [19]:
c = (2)

In [20]:
type(c)

int

In [21]:
c=(2,)

In [22]:
type(c)

tuple

In [23]:
c=2,

In [24]:
type(c)

tuple

In [25]:
# Consider the tuple x=(1,2,3).

# How could you add the integer 4 to the end of the tuple?
# This is impossible. Tuples are immutable, so they can't be edited after theyâ€™ve been created.

In [26]:
# Consider x=(1,2,3). Use the count method to count the number of 3s in x.
# x.count(3)

In [27]:
# Consider again x=(1,2,3). If you wanted the sum of the numbers in x using a single function, which command would you use?
# sum(x)

In [28]:
# Which of the following prints type tuple?
# type((2,))