In [1]:
ids = set()

In [2]:
ids = set([1,2,4,6,7,8,9])

In [3]:
len(ids)

7

In [4]:
ids.add(10)

In [5]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [7]:
ids.add(2)

In [8]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [9]:
ids.pop()

1

In [10]:
ids.pop()

2

In [11]:
ids

{4, 6, 7, 8, 9, 10}

In [12]:
len(ids)

6

In [13]:
ids = set(range(10))

In [14]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
males = set([1,3,5,6,7])

In [16]:
females = ids - males

In [17]:
type(females)

set

In [18]:
females

{0, 2, 4, 8, 9}

In [19]:
males

{1, 3, 5, 6, 7}

In [20]:
everyone = males | females

In [21]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
everyone & set([1,2,3])

{1, 2, 3}

In [23]:
word = "antidisestablishmentarianism"

In [28]:
letters = set(word)

In [29]:
len(letters)

12

In [30]:
# Let sets x={1,2,3} and y={2,3,4}. How could you get {4} from x and y using basic set operations?
# y-x

In [31]:
# Consider again sets x={1,2,3} and y={2,3,4}. How could you get {2, 3} from x and y using basic set operations?
# x & y

In [32]:
# Consider again sets x={1,2,3} and y={2,3,4}. How could you get {1, 4} from x and y using the provided set methods?
# (x | y )-(x&y)

In [33]:
# Consider again sets x={1,2,3} and y={2,3,4}. Which of the following lines of code will determine if all elements of x are in y?
# x.issubset(y)