In [1]:
import pandas as pd
x = pd.Series([6,3,8,6])

In [2]:
x

0    6
1    3
2    8
3    6
dtype: int64

In [3]:
x = pd.Series([6,3,8,6], index = ["q", "w", "e", "r"])

In [4]:
x

q    6
w    3
e    8
r    6
dtype: int64

In [5]:
x["w"]

3

In [6]:
x[["r", "w"]]

r    6
w    3
dtype: int64

In [7]:
age = {"Tim":29, "Jim":31, "Pam":27, "Sam":35}

In [8]:
x = pd.Series(age)

In [9]:
x

Tim    29
Jim    31
Pam    27
Sam    35
dtype: int64

In [11]:
data = {'name': ["Tim", "Jim", "Pam", "Sam"],
        'age': [29,31,27,35],
        'ZIP': ['02115', '02130', '67700', '00100']}

In [12]:
x = pd.DataFrame(data, columns = ["name", "age", "ZIP"])

In [13]:
x

  name  age    ZIP
0  Tim   29  02115
1  Jim   31  02130
2  Pam   27  67700
3  Sam   35  00100

In [14]:
x['name']

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [15]:
x.name

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [16]:
x = pd.Series([6,3,8,6], index = ["q", "w", "e", "r"])

In [17]:
x

q    6
w    3
e    8
r    6
dtype: int64

In [18]:
x.index

Index(['q', 'w', 'e', 'r'], dtype='object')

In [19]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [21]:
x.reindex(sorted(x.index))

e    8
q    6
r    6
w    3
dtype: int64

In [22]:
x = pd.Series([6,3,8,6], index = ["q", "w", "e", "r"])

In [23]:
y = pd.Series([7,3,5,2], index = ["e", "q", "r", "t"])

In [24]:
y

e    7
q    3
r    5
t    2
dtype: int64

In [25]:
x + y

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64

In [26]:
# What is Pandas?
# A Python library designed to query and manipulate annotated data tables

In [27]:
# What keyword allows you to specify names to indices in a pd.Series?
# index

In [28]:
# In pandas, what does the reindex method do?
# Reorders the indices of a pandas Series object according to its argument